@import "../../variables.scss";
.widget-container-chat {
  flex: 1;
  max-height: $chat-message-list-height;
  position: relative;
  .widget-container-chat-week-select {
    position: absolute;
    top: 0.1rem;
    right: 0;
    z-index: 1;
  }
  .widget-container-chat-list {
    height: 100%;
    overflow: scroll;
    list-style-type: none;
    padding: $container-padding;
    overflow-y: scroll;
    // add a customized scroll bar
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-track {
      background: $secondary-color;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary-color-light;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-color-light;
    }

    .widget-container-chat-list-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      margin-bottom: 1rem;
      max-width: 500px;
      // min-width: 400px;
      width: 100%;
      clear: both;

      &--left {
        float: left;
        justify-content: flex-start;
      }

      &--right {
        float: right;
        flex-direction: row-reverse;
        justify-content: flex-start;
      }

      .widget-container-chat-list-item-avatarimg {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: $text-white;
        border: solid 1px $border-color;
        flex: 0 0 auto;

        .widget-container-chat-list-item-avatarimg-avatar {
          display: flex;
          align-items: center;
          justify-content: center;
          .widget-container-chat-list-item-avatarimg-img {
            width: 40px;
            height: 40px;

            object-fit: cover;
          }
        }
      }
      .widget-container-chat-list-item-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: 0 0.3rem;
        &--right {
          align-items: flex-end;
        }
        .widget-container-chat-list-item-text {
          min-height: 2rem;
          background: $secondary-color;
          border-radius: 6px;
          padding: 0.5rem 1rem;

          display: flex;
          align-items: center;
          justify-content: center;
          padding: 13px 18px;
          box-shadow: 8px 10px 14px -9px rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: 8px 10px 14px -9px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 8px 10px 14px -9px rgba(0, 0, 0, 0.4);

          font-weight: 400;
          font-size: 0.9em;
          text-align: left;
          line-height: 1em;

          &--processing {
            @extend .widget-container-chat-list-item-text;

            animation: 2s bulge infinite ease-out;
            text-align: left;
            &--animation {
              margin: 8px;
              margin-bottom: 7px;
            }
          }
          .widget-container-chat-primaryText {
            margin: 0;
          }
        }

        .widget-container-chat-list-item-text--right {
          background: $primary-color;
          color: $white;
        }
        .widget-container-chat-list-item-text-timestamp {
          font-size: 0.8em;
          color: $text-light;
          margin-top: 0.5rem;
          font-size: 15px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.04em;
          text-align: left;
          margin: 0 2px;
        }
      }
    }
  }
}
@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
