@import "../../variables.scss";
.neura-chat-week-select {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  //   .neura-chat-week-select-label {
  //     font-size: 1rem;
  //     font-weight: 400;
  //     color: $text-dark;

  //     width: 70px;

  //     border: 1px solid $border-color;
  //     border-radius: 0.5rem;
  //     font-size: 1rem;
  //     font-weight: 400;
  //     color: $text-dark;
  //     margin-bottom: 0.2rem;
  //     background-color: $secondary-color;
  //     text-align: center;
  //   }
  .neura-chat-week-select--container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // flex-direction: column;
    flex-wrap: wrap;
    background-color: $modal-background;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 0 0 20px;
    //set max height to max mobile height
    max-height: 70vh;
    overflow-x: hidden;
    // overflow-y: scroll;
    max-width: 400px;
    .neura-chat-week-select-btn {
      outline: none;
      border: none;
      outline: none;
      border: solid 1px $border-color;
      width: 70px;
      background-color: $secondary-color;
      border-radius: 0.5rem;
      padding: 0.2rem;
      margin: 0.2rem;
      cursor: pointer;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
      &--selected {
        @extend .neura-chat-week-select-btn;
        background-color: $primary-color;
        color: $white;
      }
    }
  }
  .neura-chat-week-select-input {
    width: 70px;
    padding: 0.2rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: $text-dark;
    margin-bottom: 0.2rem;
    background-color: $secondary-color;
    &:focus {
      outline: none;
      border-color: $primary-color;
      background-color: $white;
      color: $text-light;
    }
    &--selected {
      background-color: $white;
      border-color: $primary-color;
      color: $text-light;
    }
  }
  .neura-chat-week-select-toggle-btn {
    outline: none;
    border: none;
    padding: 0 20px 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
