$primary-color: #005450;
$primary-color-light: #032f41cc;
$secondary-color: #f2f2f2;
$border-color: #c1c1c1;

$white: #ffffff;
$background: #f1f4e9;
$text-dark: #101828;
$text-light: #6c7072;
$text-white: #ffffff;

$border-height: 1px;
$container-padding: 1rem;

$header-height: 50px;
$chatinput-height: 70px;
$chat-message-list-height: calc(100% - 180px);
