@import "../../_variables.scss";
.voice-to-voice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #000000db;
  .voice-to-voice-title {
    color: $white;
  }
  .voice-to-voice-subtitle {
    color: $text-light;
  }
  .voice-to-voice-animation {
    margin: 50px;

    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .voice-to-voice-stop-speak-btn {
    border: 1px solid $white;
    background: none;
    padding: 0.5rem 3rem;
    margin-left: 0.1rem;
    cursor: pointer;
    color: $white;
    border-radius: 5px;
    font-weight: 500;
    margin: 20px;
    //add hover effect
    &:hover {
      background: $white;
      color: $text-dark;
    }
  }
  .voice-to-voice-message {
    //classic font family
    font-family: "Roboto", sans-serif;
    color: $text-white-grey;
    font-weight: 100;
    font-size: smaller;
    // max-width: 600px;
  }
}
